div.roundCorners {
  position: absolute;
  background-image: url("../img/silk.jpg") !important;
  background-repeat: no-repeat;
  background-size: 700px;
  border-radius: 20px;
  padding: 15px;
  width: 700px;
  height: 400px;
  margin: 10px -50px;
}

@media (max-width: 640px) {
  div.roundCorners {
    width: 100%;
  }
}

img.hero-img {
  object-fit: cover;
  color: #000000;
  margin-left: 360px;
  border-radius: 30px;
  padding: 15px;
  margin-top: -15px;
  height: 400px;
  width: auto;
}

@media (max-width: 640px) {
  img.hero-img {
    width: 50%; /* Half the width of the viewport */
    height: auto; /* Keep the original aspect ratio */
    margin-left: 0; /* Remove the left margin */
  }
}

.wide {
  margin-left: -50px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  padding: 15px;
  width: 1600px;
  height: 260px;
}

h1.name1 {
  font-family: "Pine";
  font-weight: lighter;
  margin-left: 600px;
  font-size: 70px;
  margin: 50px;
  z-index: 1;
  color: rgb(184, 26, 26);
  margin-left: 715px;
  width: 800px;
}

@media (max-width: 640px) {
  h1.name1 {
    font-size: 30px; /* Reduce the font size */
    margin-left: 0; /* Remove the left margin */
    width: 100%; /* Take up the full width of the viewport */
  }
}

hr.solid {
  border-top: 20px solid rgb(0, 0, 0);
}

hr.solid1 {
  margin-top: -10px;
  border-top: 50px solid rgb(0, 0, 0);
}



.JamesP {
  margin-bottom: auto;
  margin-top: 20px;
  margin-left: 700px;
  font-family: "Pine";
  font-weight: lighter;
  color: #ffffff;
  font-size: 30px;
}
